*{
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;
    scroll-behavior: smooth;
    
}

.logo {
    width: 210px;
    margin-left: -50px;
}

body a {
    color: #4CAF50;
    text-decoration: none;
}